<!-- File name : footer file
Student's name:HYUNJUNG HA
StudendID : 301383251
Date : 4 OCT 2023 -->

<div class="inner">
  <footer class="footer">
    <h3 class="contact">CONTACT ME</h3>
    <div class="links">
      <a class="blog" href="https://blog.naver.com/ha0ju000305">BLOG</a>
      <a class="instagram" href="https://www.instagram.com/waning_dal"
        >INSTAGRAM</a
      >
    </div>
    <p>FEEL FREE TO CONTACT ME !</p>
  </footer>
</div>
