<nav class="navigator">
  <h3 class="site-name" href="index.html">hyunjung</h3>
  <ul>
    <li><a href="/index" class="nav-menu">HOME</a></li>
    <li><a href="/info" class="nav-menu">ABOUT ME</a></li>
    <li><a href="/projects" class="nav-menu">PROJECTS</a></li>
    <li><a href="/service" class="nav-menu">SERVICE</a></li>
    <li><a href="/contact" class="nav-menu">CONTACT</a></li>
  </ul>
</nav>
