<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portpolio</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Lobster&family=Mooli&family=Noto+Sans+KR:wght@300&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Lobster&family=Mooli&family=Noto+Sans+KR:wght@300&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="frame"><%- include ('./partials/header') -%></div>

    <div class="value-menu">MY VALUES</div>
    <div class="value-section">
      <div class="value">
        <img class="value-icon" src="img/programming.png" />
        <div class="value-intro">
          <h4 class="value-name">General Programming</h4>
          <p class="value-exp">
            With expertise in various programming languages such as Pyhton, and
            C++ <br />so I can develop robust and efficient software solutions !
          </p>
        </div>
      </div>

      <div class="value">
        <img class="value-icon" src="img/coding.png" />
        <div class="value-intro">
          <h4 class="vlaue-name">Web Development</h4>
          <p class="vlaue-exp">
            From the UI through FIGMA, it has front-end capabilities using HTML
            and CSS. <br />
            Through this, you can create various websites.
          </p>
        </div>
      </div>

      <div class="value">
        <img class="value-icon" src="img/message.png" />
        <div class="value-intro">
          <h4 class="value-name">Project Management</h4>
          <p class="value-exp">
            Korean, English, and Chinese are available, so I can communicate
            with people from various countries.<br />
            Communication skills help me manage your projects.<br />
            I can also derive great results based on your knowledge of various
            diagrams.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
