/* File name : This file is css file for contact page
Student's name:HYUNJUNG HA
StudendID : 301383251
Date : 4 OCT 2023 */

.contact-content {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links {
  padding-left: 30%;
  padding-right: 20px;
}

.contact-box > p {
  padding-top: 150px;
  padding-left: 42%;
}

.icon {
  width: 50px;
  height: 50px;
  padding-top: 40px;
  padding-right: 20px;
}

.calling {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-left: 20px;
}

h4 {
  text-align: center;
}
